body{
    text-align: center;
    background-color: lightblue;
    
}

button{
    background-color: rgb(211, 81, 91);
    width: 250px;
    height: 250px;
    outline-style:initial;
    border-radius: 200px;
    cursor: pointer;
    white-space: normal;
    margin:20px;
    text-align: center;
}

button:hover{
	background-color: rgb(253, 253, 253);
	color: darkred;
}


#main{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    justify-content:space-evenly;
    max-width: 100%;
    border-radius: 10px;
}


#item{
    display: block;
    margin-left:2cm;
}

#left{
    width: 20em;
    height: 20em;
    border-radius: 10px;
    text-align: center;
    display: inline;
    color: white;
    background-color: rgb(211, 81, 91);
    
}

#middle{
    background-color: cadetblue;
    width: 40em;
    height: 75em;
    border-radius: 10px;
    text-align: left;
}
#add{
    width: 20px;
    height: 20px;
}

#right{
    background-color: rgb(117,28,28);
    width: 17em;
    height: 20em;
    border-radius: 10px;
}